
<div class="col-lg-4 col-6 text-left">
    <form action="{% url "search"%}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for products" name = "searched">
            <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                    <button class="btn btn-primary">Search</button>
                </span>
            </div>
        </div>
    </form>
</div>
{% if searched %}
    {% for result in searched %}
       <h1>{{result.name}}</h1>
       <img src ="{{result.product_image.image.url}}">

    {% endfor %}

{% endif %}
