{% extends "base.html" %}

{% block header %}
{% include "header.html" %}

{% endblock %}

{% block body %}
{% for user in  getuser %}
<!-- Address Book Section -->
<div id="address-book" class="section">
    <h2>Address Book</h2>
    <p><strong>Primary Address:</strong> {{user.address}}</p>
    <p><strong>Shipping Address:</strong> 456 Elm St, Los Angeles, CA</p>
    <button><a href="{% url "editaddress" user.username %}">Edit Address</a> </button>
</div>
{% endfor %}
{% endblock %}


{% block footer %}
{% include "footer.html" %}

{% endblock %}